<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Cookies Functions -->
    <script type="text/javascript"> 
      var user = '{{request.user}}'

      function getCookie(name) {
        // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");
        
        // Loop through the array elements
        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            /* Removing whitespace at the beginning of the cookie name
            and compare it with the given string */
            if(name == cookiePair[0].trim()) {
              // Decode the cookie value and return
              return decodeURIComponent(cookiePair[1]);
            }
        }
        // Return null if not found
        return null;
      }
      var cart = JSON.parse(getCookie('cart'))

      if (cart == undefined){
        cart = {}
        console.log('Cart Created!', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }
      console.log('Cart:', cart)
    </script>

    <!-- Navbar Responsive Functions -->
    <script type="text/javascript">
      window.onload = function() {
        var pageName = '{{pageName}}'
        console.log(pageName)
        if(pageName != "")
        {
          var element = document.getElementById("nav"+ pageName);
          element.classList.add("active");
        }
      }
    </script>


    <title>Ecom</title>
</head>
<body>
  <!-- Navbar  -->
  <div>
    <div class="overlay"></div>

    <div class="utility-nav d-none d-md-block">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <p class="small"><i class="fas fa-envelope"></i> suppot@example.com | <i class="fas fa-phone-square-alt"></i> +919876543210
            </p>
          </div>

          <div class="col-12 col-md-6 text-right">
            <p class="small">Free shipping on total of $99 of all products</p>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
      <div class="container">

        <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
                    <i class="fas fa-bars"></i>
                </button>

        <a class="navbar-brand" href="#">
          <h4 class="font-weight-bold">Logo</h4>
        </a>

        <ul class="navbar-nav ml-auto d-block d-md-none">
          <li class="nav-item">
            <a class="btn btn-link" href="#"><i class="fas fa-shopping-cart"></i> <span class="badge badge-danger">3</span></a>
          </li>
        </ul>

        <div class="collapse navbar-collapse">
          <form class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-dask" href="#"><i class='fas fa-box'></i> <span class="badge badge-danger">3</span></a>
            </li>
            <li class="nav-item">
              <a class="btn btn-dask" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i> <span class="badge badge-danger">{{cartItems}}</span></a>
            </li>
            <li class="nav-item ml-md-3">
              <a class="btn btn-outline-dark" href="#"><i class="fas fa-user-circle mr-1"></i> Log In / Register</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item" id="navhome">
              <a class="nav-link"href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="navhots">
              <a class="nav-link" href="{% url 'store' %}">Hots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sneakers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Apparel</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Support
                            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Delivery Information</a>
                <a class="dropdown-item" href="#">Privacy Policy</a>
                <a class="dropdown-item" href="#">Terms & Conditions</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="search-bar d-block d-md-none">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form class="form-inline mb-3 mx-auto">
              <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
              <button class="btn btn-success" type="submit"><i class="fa fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Body -->
  <div class="container">
    <br>
    {% block content %}
    {% endblock content%}
  </div>

  <!--Footer-->
  <footer class="mt-5">
    <div class="footer-wrap">
    <div class="container first_class">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3>BE THE FIRST TO KNOW</h3>
            <p>Get all the latest information on  Triedge Services, Events, Jobs
              and Fairs. Sign up for our newsletter today.</p>
          </div>
          <div class="col-md-4 col-sm-6">
          <form class="newsletter">
            <input type="text" placeholder="Email Address"> 
                                                          <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>	
          </form>
          
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="col-md-12">
              <div class="standard_social_links">
                <div>
                  <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>

                  </li>
                  <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>

                  </li>
                  <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>

                  </li>
                </div>
                
              </div>	
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12"><h3 style="text-align: right;">Stay Connected</h3></div>
          </div>
        </div>
    </div>
      <div class="second_class">
        <div class="container second_class_bdr">
        <div class="row">
          <div class="col-md-4 col-sm-6">

            <div class="footer-logo"><img src="http://localhost/lrn/img/footer_logo.png" alt="logo">
            </div>
            <p>Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.</p>
          </div>
          <div class="col-md-2 col-sm-6">
            <h3>Quick  LInks</h3>
            <ul class="footer-links">
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">About us</a>
              </li>
              <li><a href="#">Triedge Partners</a>
              </li>
              <li><a href="#">Contact Us</a>
              </li>
              <li><a href="#" target="_blank">Terms &amp; Conditions</a>
              </li>
              <li><a href="#" target="_blank">Privacy Policy</a>
              </li>
              <li><a href="#">Sitemap</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>OUR SERVICES</h3>
            <ul class="footer-category">
              <li><a href="#">Fresher Jobs</a>
              </li>
              <li><a href="#">InternEdge - Internships &amp; Projects </a>
              </li>
              <li><a href="#">Resume Edge - Resume Writing Services</a>
              </li>
              <li><a href="#">Readers Galleria - Curated Library</a>
              </li>
              <li><a href="#">Trideus - Campus Ambassadors</a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>triedge Events</h3>
            <ul class="footer-links">
              <li><a href="#">Triedge Events</a>
              </li>

              <li><a href="#">Jobs &AMP; Internship Fair 2019</a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
      </div>
      
      <div class="row">
        
        <div class="container-fluid">
        <div class="copyright"> Copyright 2023 | All Rights Reserved by MakeItReal.LLC</div>
        </div>
        
      </div>
    </div>
	
	</footer>

  <script src="https://kit.fontawesome.com/a8bc950322.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>