/* General styles */

body {
    background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.thumbnail {
    width: 100%;
    height: 200px;
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
	.thumbnail {
	  width: 100%;
	  height: 200px;
	}
	.box-element {
		width: 200px;
	}
}
  
@media screen and (max-width: 1440px) and (max-height: 900px) {
	.thumbnail {
		width: 150px;
		height: 150px;
	}
	.box-element {
		width: 150px;
	}
}

@media screen and (max-width: 768px) {
	.thumbnail {
		width: 100%;
		height: auto;
	}
	.box-element {
		width: 100%;
	}
}

.box-element {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 16px #cccccc;
    padding: 10px;
	
}

.btn-sm {
    border-radius: 0.2rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
}

.bg-dark {
    background-color: #4f868c!important;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
    margin-top: 10px;
}

.row-image {
    width: 100px;
}

.form-field {
    display: inline-block;
    padding: 5px;
    width: 250px;
}

.cart-row {
    align-items: stretch;
    border-bottom: 1px solid #ececec;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: 0.1s;
    width: 12px;
}

.chg-quantity:hover {
    opacity: 0.6;
}

.hidden {
    display: none!important;
}

/* Specific styles */

.product {
    border-radius: 0 0 4px 4px;
}

#cart-icon {
    display: inline-block;
    margin-left: 15px;
    width: 25px;
}

#cart-total {
    background-color: red;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 25px;
    text-align: center;
    width: 20px;
}